*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-div{
    height: 100vh;
    width: 100vw;
    
}

.div-1{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(290deg, rgba(94, 91, 91, 0.9) 50%, transparent 50%),
    url("https://upload.wikimedia.org/wikipedia/commons/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg");
   
}
.logo{
    font-weight: 300;
    color: white;
    padding-left: 10px;
}
.para{
    font-size: small;
    color: white;
    padding-left: 20px;
}
.navbar{
width: 100%;
height: 20%;
margin: 0 auto;

}

.navbar ul{
    overflow: auto;
}

.navbar li{
    list-style-type: none;
    float: left;
    margin: 20px 20px;
}

.navbar li a{
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: rgb(244, 240, 240);
    font-weight: 300;
    font-size: large;
}
 .navbar li:hover{
    background-color: rgb(246, 206, 241);
    border-radius: 8px;
 }
 .container{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: row;
   
 }
 .one{
    height: 15px;
    width: 13px;
    border: 2px solid white;
    margin: 10px 5px 30px 15px;
 }